

.mat-header-cell,.mat-cell{
  font-size:12px;
  font-family: Verdana,Sans-Serif;
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 100);
  border-top: 1px solid rgba(0, 0, 0, 100);
  border-left: 2px solid rgba(0, 0, 0, 100);
  border-right: 2px solid rgba(0, 0, 0, 100);
  }

  // .mat-column-id, .mat-column-name, .mat-column-code,.mat-column-quiz,.mat-column-num,.mat-column-department,.mat-column-editDate,.mat-column-operating {
  //   text-align: center!important;
  //   justify-content: flex-end!important;
  // }
  .mat-header-cell,.mat-cell {
    text-align: center !important;
  }

.txt_margin{
  margin-right: 20px;
}

.btn_close{
  margin-top: 80px;
}
